In [1]:
import pandas as pd

In [2]:
pd

In [4]:
df = pd.read_csv("test_python.csv") #df stands for data-frame

In [5]:
df.head()

  final_cat       ptype  gb_flag   item_id          gmv     qty
0   Staples   Olive Oil        0  10009572   1533963.00    1142
1    FMCG F         Tea        1  10041052  24392096.32  104123
2        GM  Steam Iron        0  10073489    444252.00     752
3        GM      Jacket        0  10051723      2915.00       7
4    FMCG F     Biscuit        0  10000796    252907.00    8010

In [7]:
df.tail()

    final_cat              ptype  gb_flag   item_id       gmv  qty
241        GM  Cushion Cover Set        0  10062997    1096.0    2
242    FMCG F               Malt        0  10046886   19527.0  797
243    FMCG F          Green Tea        0  10015804  115292.0  293
244   Staples       Regular Rice        0  10017495  134641.0  264
245   FMCG NF    Oil Replacement        0  10031801    9834.0   53

In [27]:
df1 = df["item_id"]

In [28]:
df1.head()

0    10009572
1    10041052
2    10073489
3    10051723
4    10000796
Name: item_id, dtype: int64

In [13]:
df.describe()

          gb_flag       item_id           gmv            qty
count  246.000000  2.460000e+02  2.460000e+02     246.000000
mean     0.146341  1.004124e+07  9.463675e+05   12667.605691
std      0.354169  2.672931e+04  3.148658e+06   40893.065996
min      0.000000  1.000005e+07  2.400000e+01       1.000000
25%      0.000000  1.001085e+07  3.477750e+03      10.250000
50%      0.000000  1.004637e+07  4.763050e+04     613.000000
75%      0.000000  1.006473e+07  4.260478e+05    5341.750000
max      1.000000  1.008810e+07  3.347894e+07  368295.000000

In [14]:
df.dtypes

final_cat     object
ptype         object
gb_flag        int64
item_id        int64
gmv          float64
qty            int64
dtype: object

In [19]:
df.shape

(246, 6)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   final_cat  246 non-null    object
 1   ptype      246 non-null    object
 2   gb_flag    246 non-null    int64
 3   item_id    246 non-null    int64
 4   gmv        246 non-null    float64
 5   qty        246 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 11.7+ KB

In [29]:
df1.shape

(246,)

In [30]:
df1.describe()

count    2.460000e+02
mean     1.004124e+07
std      2.672931e+04
min      1.000005e+07
25%      1.001085e+07
50%      1.004637e+07
75%      1.006473e+07
max      1.008810e+07
Name: item_id, dtype: float64

In [32]:
type(df1)

pandas.core.series.Series

In [33]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df2 = df[["item_id","gb_flag"]]

In [35]:
df2

      item_id  gb_flag
0    10009572        0
1    10041052        1
2    10073489        0
3    10051723        0
4    10000796        0
..        ...      ...
241  10062997        0
242  10046886        0
243  10015804        0
244  10017495        0
245  10031801        0

[246 rows x 2 columns]

In [36]:
df2.head(6)

    item_id  gb_flag
0  10009572        0
1  10041052        1
2  10073489        0
3  10051723        0
4  10000796        0
5  10033988        0

In [37]:
type(df2)

pandas.core.frame.DataFrame

In [38]:
df2.shape

(246, 2)

# Conditional Extraction

In [41]:
gb_items = df[df["gb_flag"] == 0] # how to get the entire data set with some condition

In [42]:
gb_items.head()

  final_cat       ptype  gb_flag   item_id        gmv   qty
0   Staples   Olive Oil        0  10009572  1533963.0  1142
2        GM  Steam Iron        0  10073489   444252.0   752
3        GM      Jacket        0  10051723     2915.0     7
4    FMCG F     Biscuit        0  10000796   252907.0  8010
5   Staples  Sesame Oil        0  10033988   211360.0   637

In [44]:
df["gb_flag"] == 0

0       True
1      False
2       True
3       True
4       True
       ...
241     True
242     True
243     True
244     True
245     True
Name: gb_flag, Length: 246, dtype: bool

In [57]:
fmcg_only1 = df[df["final_cat"].isin(["FMCG F","FMCG NF"])]

In [58]:
fmcg_only1

    final_cat               ptype  gb_flag   item_id          gmv     qty
1      FMCG F                 Tea        1  10041052  24392096.32  104123
4      FMCG F             Biscuit        0  10000796    252907.00    8010
6     FMCG NF  Mosquito Repellent        0  10057141   1687424.00   10841
7     FMCG NF       Intimate Wash        0  10064621    593896.00    2527
11     FMCG F            Soy Milk        0  10080224     15531.00     172
..        ...                 ...      ...       ...          ...     ...
235    FMCG F              Nachos        0  10038947    342087.00   10738
238   FMCG NF            Wet Food        0  10067703     19047.00     870
242    FMCG F                Malt        0  10046886     19527.00     797
243    FMCG F           Green Tea        0  10015804    115292.00     293
245   FMCG NF     Oil Replacement        0  10031801      9834.00      53

[115 rows x 6 columns]

In [59]:
fmcg_only2 = df[(df["final_cat"] == "FMCG F") | (df["final_cat"] == "FMCG NF")]

In [60]:
fmcg_only2

    final_cat               ptype  gb_flag   item_id          gmv     qty
1      FMCG F                 Tea        1  10041052  24392096.32  104123
4      FMCG F             Biscuit        0  10000796    252907.00    8010
6     FMCG NF  Mosquito Repellent        0  10057141   1687424.00   10841
7     FMCG NF       Intimate Wash        0  10064621    593896.00    2527
11     FMCG F            Soy Milk        0  10080224     15531.00     172
..        ...                 ...      ...       ...          ...     ...
235    FMCG F              Nachos        0  10038947    342087.00   10738
238   FMCG NF            Wet Food        0  10067703     19047.00     870
242    FMCG F                Malt        0  10046886     19527.00     797
243    FMCG F           Green Tea        0  10015804    115292.00     293
245   FMCG NF     Oil Replacement        0  10031801      9834.00      53

[115 rows x 6 columns]

In [63]:
gb_fmcg_f = df[(df["final_cat"] == "FMCG F") & (df["gb_flag"] == 0)] # brackets a necessary for every condition

In [64]:
gb_fmcg_f

    final_cat          ptype  gb_flag   item_id           gmv    qty
4      FMCG F        Biscuit        0  10000796  2.529070e+05   8010
11     FMCG F       Soy Milk        0  10080224  1.553100e+04    172
13     FMCG F      Gift Pack        0  10031773  3.500000e+02      1
16     FMCG F        Namkeen        0  10004576  2.020063e+06  44826
19     FMCG F     Soft Drink        0  10007119  1.531400e+04    630
..        ...            ...      ...       ...           ...    ...
231    FMCG F        Almonds        0  10047054  1.775700e+04    596
232    FMCG F  Cheese Spread        0  10015785  7.182899e+05  10232
235    FMCG F         Nachos        0  10038947  3.420870e+05  10738
242    FMCG F           Malt        0  10046886  1.952700e+04    797
243    FMCG F      Green Tea        0  10015804  1.152920e+05    293

[61 rows x 6 columns]

# Specific rows and columns

In [70]:
df3 = df.loc[df["gb_flag"] == 0, "ptype"]

In [71]:
df3

0              Olive Oil
2             Steam Iron
3                 Jacket
4                Biscuit
5             Sesame Oil
             ...
241    Cushion Cover Set
242                 Malt
243            Green Tea
244         Regular Rice
245      Oil Replacement
Name: ptype, Length: 210, dtype: object

In [72]:
df3.head()

0     Olive Oil
2    Steam Iron
3        Jacket
4       Biscuit
5    Sesame Oil
Name: ptype, dtype: object

In [73]:
df4 = df.loc[df["gb_flag"] == 0, ["final_cat","ptype"]]

In [74]:
df4

    final_cat              ptype
0     Staples          Olive Oil
2          GM         Steam Iron
3          GM             Jacket
4      FMCG F            Biscuit
5     Staples         Sesame Oil
..        ...                ...
241        GM  Cushion Cover Set
242    FMCG F               Malt
243    FMCG F          Green Tea
244   Staples       Regular Rice
245   FMCG NF    Oil Replacement

[210 rows x 2 columns]

In [97]:
df5 = df.loc[9:25, ["final_cat","ptype"]]

In [98]:
df5

   final_cat                     ptype
9    Staples                   Cashews
10        GM               Men's Shoes
11    FMCG F                  Soy Milk
12        GM             Kitchen Towel
13    FMCG F                 Gift Pack
14        GM               Men's Shoes
15        GM                  Bath Mat
16    FMCG F                   Namkeen
17   Staples         Urad Dal (Chilka)
18   FMCG NF                  Lip Balm
19    FMCG F                Soft Drink
20   FMCG NF                      Soap
21    FMCG F              Tomato Puree
22        GM  Super Saver Fruit Basket
23    FMCG F                   Biscuit
24   Staples              Basmati Rice
25        GM              Cookware Set

In [94]:
df6 = df.iloc[0:3, 0]

In [95]:
df6

0    Staples
1     FMCG F
2         GM
Name: final_cat, dtype: object

In [103]:
len(df.columns)

6

In [105]:
len(df.index)

246