In [2]:
import pandas as pd
import datetime

# Time taken to read a file

## Not read in chunks

In [3]:
start = datetime.datetime.now()
file = pd.read_csv("practice_pandas.csv")
end = datetime.datetime.now()

In [26]:
print(start)
print(end)

2021-04-26 11:35:46.199144
2021-04-26 11:35:46.315654

In [27]:
print(f"time taken to read csv = {(end-start).total_seconds()} sec")

time taken to read csv = 0.11651 sec

## Read in chunks

In [28]:
start1 = datetime.datetime.now()
chunk = pd.read_csv("practice_pandas.csv",chunksize=1000)
end1 = datetime.datetime.now()
file1 = pd.concat(chunk)

In [29]:
print(f"time taken to read csv = {(end1-start1).total_seconds()} sec")

time taken to read csv = 0.006476 sec

# Gen. Ops.

In [30]:
file.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [32]:
file.tail()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
36629,404309,FL,PINELLAS COUNTY,0.0,88722.0,0.0,88722.0,88722.0,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.5,1297057.5,1297057.5,1297057.5,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.9,0.0,0.0,173286.9,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.6,0.0,0.0,1499781.6,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.3,0.0,0.0,373488.3,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [33]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36634 entries, 0 to 36633
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   policyID            36634 non-null  int64
 1   statecode           36634 non-null  object
 2   county              36634 non-null  object
 3   eq_site_limit       36634 non-null  float64
 4   hu_site_limit       36634 non-null  float64
 5   fl_site_limit       36634 non-null  float64
 6   fr_site_limit       36634 non-null  float64
 7   tiv_2011            36634 non-null  float64
 8   tiv_2012            36634 non-null  float64
 9   eq_site_deductible  36634 non-null  float64
 10  hu_site_deductible  36634 non-null  float64
 11  fl_site_deductible  36634 non-null  float64
 12  fr_site_deductible  36634 non-null  int64
 13  point_latitude      36634 non-null  float64
 14  point_longitude     36634 non-null  float64
 15  line                36634 non-null  object
 16  construction        36634 non-null  object
 17  point_granularity   36634 non-null  int64
dtypes: float64(11), int64(3), object(4)
memory usage: 5.0+ MB

In [34]:
file.describe()

,policyID,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,point_granularity
count,36634.000000,3.663400e+04,3.663400e+04,3.663400e+04,3.663400e+04,3.663400e+04,3.663400e+04,3.663400e+04,3.663400e+04,36634.000000,36634.000000,36634.000000,36634.000000,36634.000000
mean,548661.937189,7.314780e+05,2.074348e+06,6.646009e+05,9.911724e+05,2.172875e+06,2.571004e+06,7.787908e+02,7.037985e+03,192.453210,26.483594,28.087477,-81.903565,1.640907
std,259912.926494,1.752300e+07,1.964150e+07,1.746114e+07,1.767178e+07,2.015015e+07,2.036777e+07,4.787979e+04,9.582593e+04,8037.713716,4702.740932,1.647734,1.809066,1.070561
min,100074.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+01,7.337000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,24.547514,-87.447290,1.000000
25%,323647.750000,0.000000e+00,4.248106e+04,0.000000e+00,0.000000e+00,4.562415e+04,5.401351e+04,0.000000e+00,0.000000e+00,0.000000,0.000000,26.471996,-82.439331,1.000000
50%,548525.000000,0.000000e+00,1.926911e+05,0.000000e+00,0.000000e+00,2.021051e+05,2.416310e+05,0.000000e+00,0.000000e+00,0.000000,0.000000,28.057077,-81.585700,1.000000
75%,774252.000000,0.000000e+00,9.163381e+05,0.000000e+00,5.741010e+04,9.465821e+05,1.128871e+06,0.000000e+00,0.000000e+00,0.000000,0.000000,29.623005,-80.372910,3.000000
max,999971.000000,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,2.160000e+09,1.701000e+09,6.273765e+06,7.380000e+06,450000.000000,900000.000000,30.989820,-80.033257,7.000000

In [35]:
file.shape

(36634, 18)

In [56]:
file.dtypes

policyID                int64
statecode              object
county                 object
eq_site_limit         float64
hu_site_limit         float64
fl_site_limit         float64
fr_site_limit         float64
tiv_2011              float64
tiv_2012              float64
eq_site_deductible    float64
hu_site_deductible    float64
fl_site_deductible    float64
fr_site_deductible      int64
point_latitude        float64
point_longitude       float64
line                   object
construction           object
point_granularity       int64
dtype: object

In [41]:
county1 = file["county"]

In [42]:
type(county1)

pandas.core.series.Series

In [49]:
county1.max()

'WASHINGTON COUNTY'

In [54]:
for x in county1[:5]:
    print(x)

CLAY COUNTY
CLAY COUNTY
CLAY COUNTY
CLAY COUNTY
CLAY COUNTY

In [43]:
county2 = file[["county"]]

In [44]:
type(county2)

pandas.core.frame.DataFrame

In [50]:
county2.max()

county    WASHINGTON COUNTY
dtype: object

In [55]:
for x in county2[:5]:        
    print(x)       # it has been converted to a data-frame and hence not giving a result

county

In [47]:
a_set = file[["statecode","county"]]

In [48]:
a_set

      statecode           county
0            FL      CLAY COUNTY
1            FL      CLAY COUNTY
2            FL      CLAY COUNTY
3            FL      CLAY COUNTY
4            FL      CLAY COUNTY
...         ...              ...
36629        FL  PINELLAS COUNTY
36630        FL  PINELLAS COUNTY
36631        FL  PINELLAS COUNTY
36632        FL  PINELLAS COUNTY
36633        FL  PINELLAS COUNTY

[36634 rows x 2 columns]

# Selecting subset of data-frame

## Specific Columns

In [57]:
set1 = file[["statecode","county","line","construction"]]

In [58]:
set1.head()

  statecode       county         line construction
0        FL  CLAY COUNTY  Residential      Masonry
1        FL  CLAY COUNTY  Residential      Masonry
2        FL  CLAY COUNTY  Residential         Wood
3        FL  CLAY COUNTY  Residential         Wood
4        FL  CLAY COUNTY  Residential         Wood

In [59]:
set1.shape

(36634, 4)

## Specific Rows basis some condition

In [71]:
set2 = file[file["county"] == "PINELLAS COUNTY"]

In [72]:
set2.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
27800,284559,FL,PINELLAS COUNTY,11340000.0,11340000.0,11340000.0,11340000.0,11340000.0,18990000.00,0.0,0.0,0.0,0,27.773920,-82.637600,Commercial,Reinforced Concrete,1
27801,260623,FL,PINELLAS COUNTY,2815437.6,2815437.6,2815437.6,2815437.6,2815437.6,2542264.14,0.0,0.0,0.0,0,27.772055,-82.639763,Commercial,Reinforced Masonry,1
27802,277148,FL,PINELLAS COUNTY,771404.4,771404.4,771404.4,771404.4,771404.4,1044564.10,0.0,0.0,0.0,0,27.772055,-82.639763,Residential,Masonry,1
27803,195806,FL,PINELLAS COUNTY,672390.0,672390.0,672390.0,672390.0,672390.0,656271.47,0.0,0.0,0.0,0,27.773760,-82.638210,Residential,Masonry,1
27804,855571,FL,PINELLAS COUNTY,432270.0,432270.0,432270.0,432270.0,432270.0,625347.72,0.0,0.0,0.0,0,27.774360,-82.638160,Residential,Masonry,1

In [68]:
set2.shape

(1774, 18)

In [73]:
set3 = file[file["county"].isin(["PINELLAS COUNTY","CLAY COUNTY"])]

In [74]:
set3.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1

In [75]:
set3.shape

(2137, 18)

In [76]:
set4 = file[(file["county"] == "PINELLAS COUNTY") | (file["county"] == "CLAY COUNTY")]

In [77]:
set4.shape

(2137, 18)

## Specific Rows and Columns

In [82]:
set5 = file.loc[file["point_granularity"] == 1, "county"]

In [83]:
set5.head()

0    CLAY COUNTY
2    CLAY COUNTY
4    CLAY COUNTY
6    CLAY COUNTY
7    CLAY COUNTY
Name: county, dtype: object

In [84]:
set6 = file.loc[file["point_granularity"] == 1, ["county","construction"]]

In [85]:
set6.head()

        county         construction
0  CLAY COUNTY              Masonry
2  CLAY COUNTY                 Wood
4  CLAY COUNTY                 Wood
6  CLAY COUNTY  Reinforced Concrete
7  CLAY COUNTY                 Wood

# Creating New Columns

## Simple Addition of columns

In [88]:
file["pg_custom"] = file["point_granularity"] + 2

In [89]:
file.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity,pg_custom
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1,3
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3,5
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1,3
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3,5
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1,3

## Basis a condition

In [93]:
custom_const = []
for val in file["construction"]:
    if val == "Wood":
        custom_const.append("Wood Palm")
    else:
        custom_const.append(val)

file["custom_const"] = custom_const

# https://www.dezyre.com/recipes/insert-new-column-based-on-condition-in-python

In [94]:
file.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity,pg_custom,custom_const
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1,3,Masonry
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3,5,Masonry
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1,3,Wood Palm
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3,5,Wood Palm
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1,3,Wood Palm

# Statistics

In [100]:
mean1 = file["point_granularity"].mean()

In [101]:
mean1

1.6409073538243162

In [104]:
median1 = file[["tiv_2011","tiv_2012"]].median()

In [105]:
median1

tiv_2011    202105.065
tiv_2012    241630.985
dtype: float64

In [106]:
desc1 = file[["tiv_2011","tiv_2012"]].describe()

In [107]:
desc1

           tiv_2011      tiv_2012
count  3.663400e+04  3.663400e+04
mean   2.172875e+06  2.571004e+06
std    2.015015e+07  2.036777e+07
min    9.000000e+01  7.337000e+01
25%    4.562415e+04  5.401351e+04
50%    2.021051e+05  2.416310e+05
75%    9.465821e+05  1.128871e+06
max    2.160000e+09  1.701000e+09

In [113]:
agg1 = file.agg(
            {
                "tiv_2011": ["min","max"],
                "tiv_2012": ["min","median","sum"],
            }
        )

In [114]:
agg1

            tiv_2011      tiv_2012
min     9.000000e+01  7.337000e+01
max     2.160000e+09           NaN
median           NaN  2.416310e+05
sum              NaN  9.418616e+10

## Group By

In [115]:
file.groupby("construction")["point_granularity"].sum()

construction
Masonry                14038
Reinforced Concrete     1951
Reinforced Masonry      6251
Steel Frame              443
Wood                   37430
Name: point_granularity, dtype: int64

In [116]:
file.groupby(["construction"])["point_granularity"].sum() # Notice the brackets are additional in this

construction
Masonry                14038
Reinforced Concrete     1951
Reinforced Masonry      6251
Steel Frame              443
Wood                   37430
Name: point_granularity, dtype: int64

In [123]:
file.groupby(["construction","line"])["point_granularity"].sum()

construction         line
Masonry              Residential    14038
Reinforced Concrete  Commercial      1951
Reinforced Masonry   Commercial      6251
Steel Frame          Commercial       443
Wood                 Residential    37430
Name: point_granularity, dtype: int64

In [125]:
file[file["county"] == "CLAY COUNTY"].groupby(["construction","line"])["point_granularity"].sum()

construction         line
Masonry              Residential    100
Reinforced Concrete  Commercial       9
Reinforced Masonry   Commercial      17
Wood                 Residential    541
Name: point_granularity, dtype: int64

# Sorting

In [4]:
set7 = file.sort_values(by=["county","line"])

In [5]:
set7.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
9387,995149,FL,ALACHUA COUNTY,0.0,2415211.92,0.0,0.0,2415211.92,2676018.58,0.0,0.0,0.0,0,29.666569,-82.319412,Commercial,Reinforced Masonry,3
9388,226372,FL,ALACHUA COUNTY,0.0,2610315.18,0.0,0.0,2610315.18,3392052.37,0.0,0.0,0.0,0,29.666569,-82.319412,Commercial,Reinforced Masonry,3
9389,721898,FL,ALACHUA COUNTY,0.0,3832715.70,0.0,3832715.7,3832715.70,4226810.86,0.0,0.0,0.0,0,29.666569,-82.319412,Commercial,Reinforced Masonry,3
9411,922270,FL,ALACHUA COUNTY,3821940.0,3821940.00,3821940.0,3821940.0,3821940.00,6475933.36,0.0,76438.8,0.0,0,29.667950,-82.327700,Commercial,Reinforced Masonry,1
9412,465003,FL,ALACHUA COUNTY,2433150.0,2433150.00,2433150.0,2433150.0,2433150.00,2982516.34,0.0,48663.0,0.0,0,29.667950,-82.327700,Commercial,Reinforced Masonry,1

In [6]:
set8 = file.sort_values(by=["county","line"],ascending=False)

In [7]:
set8.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
6193,307144,FL,WASHINGTON COUNTY,0.0,50713.37,0.0,0.0,50713.37,43877.20,0.0,0.0,0.0,0,30.772030,-85.812360,Residential,Wood,3
6194,970874,FL,WASHINGTON COUNTY,0.0,3380.18,0.0,0.0,3380.18,2607.47,0.0,0.0,0.0,0,30.775665,-85.814845,Residential,Wood,3
6195,640315,FL,WASHINGTON COUNTY,0.0,3943.54,0.0,0.0,3943.54,5372.33,0.0,0.0,0.0,0,30.735600,-85.794400,Residential,Wood,4
6196,319900,FL,WASHINGTON COUNTY,0.0,108380.24,0.0,0.0,108380.24,177011.80,0.0,0.0,0.0,0,30.772186,-85.812149,Residential,Wood,3
6197,304610,FL,WASHINGTON COUNTY,0.0,400094.36,0.0,0.0,400094.36,638355.35,0.0,0.0,0.0,0,30.668230,-85.826363,Residential,Masonry,1

In [11]:
set9 = file.sort_values(by=["county","line"],ascending=[False,True])

In [12]:
set9.head()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
6192,182028,FL,WASHINGTON COUNTY,0.0,0.00,0.0,0.0,12240000.00,15750000.00,0.0,0.0,0.0,0,30.735600,-85.794400,Commercial,Reinforced Concrete,4
6238,542479,FL,WASHINGTON COUNTY,0.0,2282854.78,0.0,0.0,2282854.78,3532946.06,0.0,0.0,0.0,0,30.771852,-85.543526,Commercial,Reinforced Masonry,1
6239,640211,FL,WASHINGTON COUNTY,0.0,9900000.00,0.0,0.0,9900000.00,14580000.00,0.0,0.0,0.0,0,30.764231,-85.524277,Commercial,Reinforced Concrete,1
6246,164909,FL,WASHINGTON COUNTY,0.0,1891116.72,0.0,0.0,1891116.72,1481983.07,0.0,0.0,0.0,0,30.781839,-85.543472,Commercial,Reinforced Masonry,1
6261,689889,FL,WASHINGTON COUNTY,0.0,2110725.00,0.0,2110725.0,2110725.00,1665944.59,0.0,42214.5,0.0,0,30.764540,-85.556120,Commercial,Reinforced Masonry,3

In [13]:
set10 = file.sort_values(by=["county","line"],ascending=[False,True])[["statecode","county","line","construction"]]
# selection of specific columns only

In [14]:
set10.head()

     statecode             county        line         construction
6192        FL  WASHINGTON COUNTY  Commercial  Reinforced Concrete
6238        FL  WASHINGTON COUNTY  Commercial   Reinforced Masonry
6239        FL  WASHINGTON COUNTY  Commercial  Reinforced Concrete
6246        FL  WASHINGTON COUNTY  Commercial   Reinforced Masonry
6261        FL  WASHINGTON COUNTY  Commercial   Reinforced Masonry